@import "../styles/main.scss";

.profile {
    .profile-category {
        display: flex;
        flex-direction: column;
        ul {
            list-style: none;
            li {
                display: flex;
                justify-content: space-between;
            }
        }
        a {
            @include empty-button;
        }
    }
}