// Menthe Pastille theme
$primary: #c3e3e0;
$primary-rgba: rgba(118,199,194,1);
$secondary: #fbfdff;
$secondary-rgba: #f8f9fb;
$third: #c1e1e0;
$third-rgba: rgba(193,225,224,1);

$error: red;
$success: green;
$info: blue;
$warning: orange;
