@import "../styles/main.scss";
.login, .signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1 {
        text-align: left;
        font-weight: 500;
        margin-right: auto;
        margin-bottom: 20px;
    }
    form{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        input {
            margin-bottom: 10px;
        }
    }
}