@import "../variables.scss";

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1 {
        text-align: left;
        font-weight: 500;
        margin-right: auto;
        margin-bottom: 20px;
    }
    form{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 5px;
        margin-bottom: 10px;
        label {
            grid-column: 1;
        }
        input {
            grid-column: 2;
            margin-bottom: 10px;
        }
        button {
            @include plain-button;
            grid-column-start: 2;
        }
    }
}