@import "../styles/main.scss";

.error-message {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-height: 30px;
    width: 50vw;
    min-width: 500px;
    background-color: #fc9c95;
    border-radius: 5px;
    padding: 10px;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    h3, p {
        color: red;
        text-align: left;
    }
}