@import "./variables.scss";

h1 {
    color: #08544d;
    font-size: 2.5em;
    font-weight: 400;
}
h2 {
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 1px;
    color: $darkgrey;
}
h3 {
    color: $primary;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 1px;
}
p, span, label, td {
    color: #056359;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 1px;
}
button, input {
    color: #069083;
    font-weight: 300;
    letter-spacing: 2px;
}
a {
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 1px;
}
::placeholder {
    color: #5ac9be;
}
input {
    display: block;
    width: 350px;
    padding: 10px 20px;
    font-size: 1.2em;
    letter-spacing: 2px;
    color: $darkgrey;
    box-sizing: border-box;
    border-width: 1px;
    border: none;
    border-bottom: 1px solid $lightgrey;
    transition: box-shadow 0.3s ease-in-out;
    &:focus {
        border-bottom: 2px solid $primary;
        box-shadow: 0px 7px 7px -7px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.2s ease-in-out;
    }
}
textarea {
    display: block;
    outline: none;
    border: solid 1px $lightgrey;
    min-width: 500px;
    min-height: 125px;
    color: $darkgrey;
    padding: 5px;
    margin: 10px 0;
    &:focus {
        border-top: solid 1px $lightgrey;
        border-right: solid 1px $lightgrey;
        border-left: solid 1px $lightgrey;
        border-bottom: 2px solid $primary;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.2s ease-in-out;
    }
}

#root {
    min-height: 100%;
    background-color: $secondary;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: minmax(auto, 80px) auto minmax(10vh, 100px);

    header {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;
            background: linear-gradient(180deg, rgba($primary, 1) 0%, lighten(rgba($primary, 1), 10%) 100%);
            color: $secondary;
            .logo {
                width: 20vw;
                padding: 5px 15px;
                img {
                    height: 100%;
                }
            }
            ul {
                display: flex;
                justify-content: space-around;
                list-style: none;
                width: 80vw;
                height: 100%;
                li {
                    display: flex ;
                    align-items: center;
                    height: inherit;
                   a {
                       color: $secondary;
                       font-size: 1.5em;
                       font-weight: 500;
                       letter-spacing: 3px;
                       text-decoration: none;
                       text-transform: uppercase;
                       &:hover {
                           text-shadow: 0px 0px 5px rgb(255, 255, 255); 
                       }
                   } 
                }
            }
        }
    }

    section {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
        padding: 80px 10px 0 10px;
        .side-nav {
            position: fixed;
            min-width: 80px;
            padding: 10px;
            border-radius: 5px;
            border-style: solid;
            border-color: $third;
            border: none;
            border-left: 1px solid $lightgrey;
            top: 30%;
            ul {
                list-style: none;
                li {
                    margin: 10px 0;
                    a {
                        display: inline-block;
                        color: $third;
                        text-decoration: none;
                        font-weight: 500;
                        padding: 5px 0;
                        min-width: 150px;;
                        &:hover {
                            color: darken($third, 25%);
                        }
                    }
                }
            }
            &.left {
                left: 50px;
            }
        }
    }

    footer {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

