@import "styles/main.scss";

#root {
    min-height: 100%;
    background-color: $secondary;
}

header {
    height: 10vh;
    nav {
        height: 100%;
        max-height: 80px;
        background: linear-gradient(180deg, $primary-rgba 0%, $third-rgba 100%);
    
        color: $secondary;
        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            height: 100%;
            li {
                display: flex ;
                align-items: center;
                height: inherit;
               a {
                   color: $secondary;
                   font-size: 1.5em;
                   font-weight: 600;
                   letter-spacing: 1px;
                   text-decoration: none;
                   text-transform: uppercase;
                   &:hover {
                       text-shadow: 0px 0px 5px rgb(255, 255, 255); 
                   }
               } 
            }
        }
    }
}
section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    padding: 10px;

    h1 {
        color: #08544d;
        font-size: 2.5em;
    }
    h2 {
        color: $primary;
        letter-spacing: 1px;
    }
    h3 {
        color: $primary;
        font-size: 1.3em;
        font-weight: 500;
        letter-spacing: 1px;
    }
    p, label {
        color: #069083;
        font-size: 1.1em;
        font-weight: 300;
        letter-spacing: 1px;
    }
    button, input {
        font-weight: 300;
        letter-spacing: 1px;
    }
    a {
        font-size: 1.1em;
        font-weight: 300;
    }
}